<div class="place-add-container">
  <form [formGroup]="placeForm">
    <div
      class="placeImage"
      [style.backgroundImage]="'url(' + imgUrl + ')'"
    ></div>
    <div class="place-name-container">
      <label>
        Place Name
        <input type="text" formControlName="name" />
      </label>
    </div>
    <label>
      Address
      <input #addressAutocomplete type="text" formControlName="address" />
    </label>
  </form>
  <div class="modal-footer">
    <button class="btn" (click)="cancelAndCloseModal()">Cancel</button>
    <button
      class="btn"
      [mat-dialog-close]="returnDialogData()"
      [disabled]="!placeForm.valid || !geocodeValid"
    >
      Done
    </button>
  </div>
</div>
